<div class="nav">
  <div class="logo">Kerala Rescue Connect</div>
</div>

<!--div *ngFor="let data of rescueData">
  {{data.district}} -- {{data.location}} -- {{data.requestee}} -- {{data.requestee_phone}} -- {{data.dateadded | date:short}}
</div-->

<table>
  <thead>
    <tr>
      <th>District</th>
      <th>Location</th>
      <th>Requestee</th>
      <th>Contact</th>
      <th>Date Added</th>
      <th>Extra Labels</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let data of rescueData">
          <td>{{data.district}}</td>
          <td>{{data.location}}</td>
          <td>{{data.requestee}}</td>
          <td>{{data.requestee_phone}}</td>
          <td>{{data.dateadded | date:short}}</td>
          <td></td>
        </tr>
  </tbody>
</table>