.nav{
    background: #333;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

.nav .logo{
    font-size: 20px;
}

.table-holder{
    overflow: auto;
}

td,th{
    text-transform: capitalize;
    width: 250px;
}

@media screen and (max-width: 600px) {
    .tab-hide{display:none;}
}

button.disabled_hide{
    cursor: not-allowed;
    pointer-events: none;
    background: #eee;
    color: #aaa;
    border: 1px solid #aaa;
    outline: none;
}

.paginate{
    margin: 5px 0;
}

.paginate button{
    margin: 0;
    margin-right: -1px;
    outline: none;
}